<h1>Crear un post</h1>
<%= form_for @post do |f| %>
  <p>
    <%= f.label :titulo %><br/>
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :descripcion %><br/>
    <%= f.text_area :descripcion %>  
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>